.env
node_modules/
users.json
cache
artifacts
index.html
package-lock.json
temp/
TROUBLESHOOTING.md  
db-test.js
scripts/local-migrate.js
scripts/migrate-to-postgres.js
users.json.backup-1747187165829
users.json.backup-1747359205125
scripts/render-build.sh